# Put temporary objects in 'obj', (test) binaries in 'bin',
# and other stuff (such as test root files) in tmp.
**/obj/**
*/bin
*/tmp
core/python/*.pyc
core/python/__init__.py
*.root
*~
*.local
**/file/**
**/lists/**

**jobTempOutput_**/**

ToDo.md

config/workdir*
config/save*
config/submitted*
config/Submitted*
**/*.pyc
